@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;800&display=swap');


a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 0.5em 2em;
    border: none;
    font-weight: 700;
    font-size: 18px;

}


body {
    font-size: 18px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
}

.card {
    width: 165px;

}

.card > p {
    color: #4c5662;
    text-align: center;
    margin-top: 0.5em;
}

.card-thumbnail {
    width: 165px;
    height: 165px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.container {
    width: 70%;
    margin: auto;
    padding-bottom: 6em;

}

.container > button {
    border: 2px solid #F9FAF8;

}

.cta > .container {
    background-color: #3882F6;
    border-radius: 8px;
}

.card-collection {
    display: flex;
    justify-content: center;
    gap: 3em;

}

.header > .container {
    display: flex;
    justify-content: space-between;
}

.hero > .container {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.header, .footer, .hero {
    background-color: #1F2937;
    color: white;
}

.intro {
    flex: 1;

}


.img-placeholder {
    flex: 1;
    background-color: #6c747c;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.author {
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    text-align: right;

}

p.logo {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

p.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

p.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

p.title {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    color: #F9FAF8;
}

.testimonial {
    background-color: #E5E7EB;

}

.testimonial > .container {
    padding-top: 6em;
    width: 56%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
    align-items: center;
}